<h1>Updates For: <%= @comment.case_number %></h1>
<% @comment.comment_updates.each do |u| %>
    <p>Date: <%= u.update_date.strftime("%m/%d/%Y") %> Updated By: <%= u.employee_name %><br>
    Details: <%= u.current_update %></p>
<% end %>